@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap/scss/mixins.scss";
@import "bootstrap/scss/grid.scss";
@import "bootstrap/scss/mixins/breakpoints.scss";
@import "bootstrap/scss/variables.scss";
@import "bootstrap/scss/utilities.scss";
@import "./app-colors";
@import "./app-buttons";
@import "./app-text";
@import "./app-inputs";
@import "./app-tooltip";
@import "../components/header/header.scss";
@import "https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap";

html,
body {
  #__next {
    display: flex;
    flex-direction: column !important;
    min-height: 100vh;
  }
  font-family: "DM Sans";
  overflow-x: hidden;

  .container-background {
    background-color: $white;
    position: relative;
    min-height: 60vh;
    &.-gray {
      background-color: $cultured;
      padding-bottom: $spacer * 2;
    }
    &:before {
      content: "";
      background-color: $cultured;
      position: absolute;
      height: 100%;
      width: 197vw;
      left: -100vw;
      z-index: -1;
    }
  }
  .fa-spinner {
    animation: spin infinite 0.8s linear;

    /*You can increase or decrease the timer (5s) to 
     increase or decrease the speed of the spinner*/
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
::placeholder {
  font-size: 12px;
  font-weight: bold;
}

.color_default {
  color: $orange;
}
.color_active {
  color: $desert_sand;
}
.-min-width-50 {
  min-width: 50px;
}
.-min-width-100 {
  min-width: 100px;
}
.-min-width-150 {
  min-width: 150px;
}
.-pointer {
  cursor: pointer;
}
.-s {
  fill: red !important;
  opacity: 0.42;
}
.form-control {
  padding: 1rem 0.75rem;
  height: calc(3.5rem + 2px);
  line-height: 1.25;
  .inputs {
    &.form-input {
      &focus {
        box-shadow: rgb(43 70 96 / 20%) 0 0 4px !important;
        border-color: #22383c;
      }
    }
  }
}
.form-radio {
  .error {
    &.-radio {
      display: none;
    }
  }
  &:first-child {
    .error {
      &.-radio {
        display: block;
      }
    }
  }
}
.fa-spin {
  -webkit-animation: fa-spin 0.6s infinite linear;
  animation: fa-spin 0.6s infinite linear;
}
.intl-tel-input {
  display: flex !important;
}
.error {
  color: $old_rose;
}
.notification {
  background-color: $misty_rose;
}
.country-label {
  line-height: 10px;
}

@media screen and (min-width: 600px) {
  .w-sm-100 {
    width: 100% !important;
  }
}
.vh-75 {
  height: 70vh;
}
.w-80 {
  width: 80% !important;
}
.w-85 {
  width: 85% !important;
}
.w-90 {
  width: 90% !important;
}
.w-95 {
  width: 95% !important;
}
